@page
@model BookSystem.Pages.Bookshelf.IndexModel
@{
}

<br />
<div class="container">
    <div class="col-9">
        <h2 class="text-info">Book Collections</h2>
    </div>
    <div class="col-3">
        <a class="btn btn-info form-control text-white">Create New Book</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Books.Any())
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Books.First().Name"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().Author">

                            </label>
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach (var item in Model.Books)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => item.Name);
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.Author);
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm">Delete</button>
                                <a class="btn btn-success btn-sm">Edit</a>
                            </td>
                        </tr>

                    }
                </table>
            }
            else
            {
                <p>There are no book here.</p>
            }
        </form>
    </div>
</div> 